body{
	margin: 0;
	background-color: #f5f5f5;
}

h1{
	font-size: 70px;
	text-transform: uppercase;
	font-family: 'Codystar', cursive;
	font-weight: 300;
	letter-spacing: 0.1em;
	text-decoration: none;
	color: #778899;
}

h2{
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'Codystar', cursive;
	font-weight: 300;
	letter-spacing: 0.1em;
	text-decoration: none;
	color: #778899;
	margin-bottom: 100px;
}

h3{
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Codystar', cursive;
	font-weight: 300;
	letter-spacing: 0.1em;
	text-decoration: none;
	color: #778899;
}

p{
	font-size: 10px;
	text-transform: uppercase;
	font-family: 'Codystar', cursive;
	font-weight: 300;
	letter-spacing: 0.1em;
	text-decoration: none;
	color: #778899;
}


#container{
	/*background-color: black;*/
	text-align: center;
	width: 780px;
	margin: 0 auto;
	margin-top: 150px;
}

#color{
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Codystar', cursive;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0.1em;
	text-decoration: none;
	color: #778899;
}

#gradient{
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Codystar', cursive;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0.1em;
	text-decoration: none;
	color: #778899;
}

#sharpness{
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Codystar', cursive;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0.1em;
	text-decoration: none;
	color: #778899;
}

#round1{
	width: 100px;
	height: 40px;
	/*border-radius: 50%;*/
	/*display: flex;*/
	background-color: white;
	display: inline-block;
	text-align: center;
	margin-left: 70px;
	margin-right: 70px;
	transition: all .5s ease-in-out;
}

#round2{
	width: 100px;
	height: 40px;
	/*border-radius: 50%;*/
	/*display: flex;*/
	background-color: white;
	display: inline-block;
	text-align: center;
	margin-left: 70px;
	margin-right: 70px;
	transition: all .5s ease-in-out;
}

#round3{
	width: 100px;
	height: 40px;
	/*border-radius: 50%;*/
	/*display: flex;*/
	background-color: white;
	display: inline-block;
	text-align: center;
	margin-left: 70px;
	margin-right: 70px;
	transition: all .5s ease-in-out;
}

#round1:hover{
	transform:scale(3);
	/*background-color: yellow;*/
}

#round2:hover{
	transform:scale(3);
/*	background-image: url(pics/gradient.png);
*/}

#round3:hover{
	transform:scale(3);
/*	background-image: url(pics/sharpness.jpg);
*/}

a{
	text-decoration: none;
}





