body{
	margin:0;
	background-color: yellow;
	padding-top: 20px
}

a{
	text-align: center;
	text-decoration: none;
	font-family: Helvetica;
	font-size: 28px;
	color: yellow;
}

a:visited{
	color:yellow;
}

a:hover{
	color:black;
}

.definition{
	display: none;
}

.container{
	width: 980px;
	background-color:yellow;
	margin: 0 auto;
}

.letter{
	height: 180px;
    width: 140px;
    margin-left: 0px;
    margin-bottom: 0px;
    position: relative;
	display: inline-block;
}

.menu1{
	width:100px;
	height: 80px;
	position: absolute;
	background-color: white;
	left:50px;
	top:0px;
	padding-top: 60px;
}

.menu2{
	width:100px;
	height: 80px;
	position: absolute;
	background-color: white;
	right:50px;
	top:0px;
	padding-top: 60px;
}

.pressed {
	top: 10px;
}

/*blockssssssssssssssssssssss*/
.topleft-block{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:10px;
	top:10px;
}

.topright-block{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:10px;
	top:10px;
}

.bottomleft-block{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:10px;
	bottom:10px;
}

.bottomright-block{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:10px;
	bottom:10px;
}

/*backgrounddddddddddddddddd*/
.bg{
	width: 100px;
	height: 140px;
	background-color: black;
	position: absolute;
	margin: 20px;
}

/*AAAAAAAAAAAAAAAAAAA*/
.Ablock1{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:40px;
	bottom:10px;
}
.Ablock2{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:40px;
	bottom:10px;
}
.Ablock3{
	width: 40px;
	height: 15px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	left:50px;
	bottom:19px;
}

/*BBBBBBBBBBBBBBBBB*/
.Bblock1{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:10px;
	bottom:80px;
}

/*CCCCCCCCCCCCCCCCC*/
.Cblock1{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:10px;
	top:50px;
}
.Cblock2{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:10px;
	bottom:50px;
}
.Cblock3{
	width: 15px;
	height: 60px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	right:19px;
	bottom:60px;
}

/*FFFFFFFFFFFFFFFFFF*/
.Fblock1{
	width: 70px;
	height: 55px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	right:20px;
	bottom:20px;
}
.Fblock2{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:40px;
	bottom:10px;
}

/*HHHHHHHHHHHHHHHHH*/
.Hblock1{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:40px;
	top:10px;
}
.Hblock2{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:40px;
	top:10px;
}
.Hblock3{
	width: 40px;
	height: 15px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	left:50px;
	top:19px;
}

/*IIIIIIIIIIIIIIII*/
.Iblock1{
	width: 10px;
	height: 140px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	right:20px;
	bottom:20px;	
}
.Iblock2{
	width: 10px;
	height: 140px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	left:20px;
	bottom:20px;	
}

/*JJJJJJJJJJJJJJJJ*/
.Jblock1{
	width: 14px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	left:20px;
	top:20px;	
}
.Jblock2{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:20px;
	bottom:10px;
}
.Jblock3{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:10px;
	bottom:50px;
}

/*LLLLLLLLLLLLLLLLL*/
.Lblock1{
	width: 14px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	right:20px;
	top:20px;	
}
.Lblock2{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:20px;
	bottom:10px;
}
.Lblock3{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:10px;
	bottom:50px;
}

/*NNNNNNNNNNNNNNN*/
.Nblock1{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:40px;
	top:10px;
}

/*PPPPPPPPPPPPPPPP*/
.Pblock1{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:10px;
	bottom:65px;
}

/*SSSSSSSSSSSSSSSS*/
.Sblock1{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:10px;
	bottom:60px;
}

/*TTTTTTTTTTTTTTTT*/
.Tblock1{
	width: 14px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	right:20px;
	bottom:20px;	
}
.Tblock2{
	width: 14px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	left:20px;
	bottom:20px;	
}
.Tblock3{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:10px;
	top:50px;
}

/*XXXXXXXXXXXXXXXX*/
.Xblock1{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:10px;
	bottom:80px;
}
.Xblock2{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:10px;
	bottom:80px;
}
.Xblock3{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:60px;
	bottom:10px;
}
.Xblock4{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:60px;
	top:10px;
}

/*YYYYYYYYYYYYYY*/
.Yblock1{
	width: 14px;
	height: 70px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	right:20px;
	bottom:20px;	
}
.Yblock2{
	width: 14px;
	height: 70px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	left:20px;
	bottom:20px;	
}
.Yblock3{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:10px;
	top:80px;
}
.Yblock4{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:10px;
	top:80px;
}

/*ZZZZZZZZZZZZZZ*/
.Zblock1{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:10px;
	top:50px;
}
.Zblock2{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:10px;
	bottom:60px;
}

/*............*/
.period-block{
	width: 20px;
	height: 20px;
	background-color: black;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:58px;
	bottom:25px;
}

/*,,,,,,,,,,,,*/
.comma-block1{
	width: 17px;
	height: 29px;
	background-color: black;
	position: absolute;
	z-index: 1;
	left:60px;
	bottom:20px;
}
.comma-block2{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:50px;
	bottom:25px;
}

/*?????????????*/
.question-block1{
	width: 50px;
	height: 90px;
	background-color: black;
	position: absolute;
	z-index: 1;
	left:50px;
	bottom:60px;
}
.question-block2{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:40px;
	bottom:110px;
}
.question-block3{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:90px;
	bottom:140px;
}
.question-block4{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	left:90px;
	bottom:80px;
}
.question-block5{
	width: 20px;
	height: 30px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	left:86px;
	bottom:60px;
}

/*!!!!!!!!!!!!!!!*/
.exclamation-block1{
	width: 35px;
	height: 90px;
	background-color: black;
	position: absolute;
	z-index: 1;
	left:50px;
	bottom:60px;
}

/*111111111111111*/
.one-block1{
	width: 20px;
	height: 105px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	left:20px;
	bottom:20px;
}

/*444444444444444*/
.four-block1{
	width: 20px;
	height: 80px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	right:20px;
	bottom:80px;
}
.four-block2{
	width: 40px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	left:20px;
	bottom:20px;
}
.four-block3{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	right:20px;
	bottom:20px;
}

/*666666666666666*/
.six-block1{
	width: 40px;
	height: 70px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	right:20px;
	bottom:90px;
}
.six-block2{
	width: 20px;
	height: 20px;
	background-color: yellow;
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	right:10px;
	bottom:80px;
}

/*77777777777777*/
.seven-block1{
	width: 30px;
	height: 105px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	left:20px;
	bottom:20px;
}

/*9999999999999*/
.nine-block1{
	width: 40px;
	height: 70px;
	background-color: yellow;
	position: absolute;
	z-index: 1;
	left:20px;
	bottom:20px;
}







