#container{
	
}
#head{
	width: 1800px;
	font-family: Helvetica, Sans Serif;
	font-weight: bolder;
	font-size: 140px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	float: left;
	padding: 10px;
}
#body{
	margin-top: 200px;
	margin-left: 500px;
	width: 1300px;
	font-family: Helvetica, Serif;
	font-size: 80px;
	line-height: 1.2em;
}

#next{
	width: 50px;
	font-size: 70px;
	letter-spacing: 0.1em;
}
#menu{
	position: fixed;
	top: 0;
	width: 1430px;
}
.arrow{
	padding: 5px;
	width:700px;
	display: inline-block;
	text-align: center;
}

.arrow a{
	font-family: helvetica;
	color:#4682B4;
}

a:hover{
	background-color: black;
	color:white;
}