body{
	background-color: red;
	font-family: helvetica;
}

img{
	max-width: 100%;
}

a{	
	color: yellow;
	font-family: 'Poiret One', cursive;
	text-decoration: none;
	letter-spacing: 0.2em;
}

#intro{
	font-family: helvetica;
	width: 600px;
	margin: 0 auto;
	color: white;
	padding: 0 44px;
	border: white solid 4px;
}

a:hover{

}

.container{
	background: white;
	width: 600px;
	margin: 0 auto;
	padding: 0 48px 48px 48px;
	border: 4px solid red;
}

h1{
	font-family: 'Poiret One', cursive;
	text-transform: uppercase;
	text-align: center;
	color: white;
	letter-spacing: 0.1em;
}

ul{
	list-style-type: none;
	padding-left: 0;
}

#video{
	margin: 0 auto;
}

#tips{
	line-height: 1.2em;
	margin:0 auto;
}

#toc{
	text-align: left;
	font-size: 24px;
	line-height: 1.5em;
	position:fixed;
	top:50px;
	left: 100px;
}